<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.18.1/axios.min.js"></script>
    <title>Checklist</title>
    <style>
        .el-table th.el-table__cell {
            background: #f5f7fa;
        }
    </style>
    <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
<a href="profile.jsp" > <input type="button" value="Profile page" ></a>
<a href="staff.html" > <input type="button" value="Staff Management" ></a>
<a href="customer.html" > <input type="button" value="Customer Management" ></a>
<a href="check.html" > <input type="button" value="Checklist" ></a>

<h1>Checklist</h1>
<div id="app">
    <! -- Save button -->
    <div style="float: right;margin-bottom: 10px;">
        <el-button type="success" @click="save">Save</el-button>
    </div>
    <! -- checklist form -->
    <template>
        <el-table
                :data="tableData"
                v-loading="loading"
                highlight-current-row
                stripe
                size="small"
                border
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="ID"
                    v-if="false">
            </el-table-column>
            <el-table-column
                    prop="orderId"
                    label="OrderID"
                    v-if="false">
            </el-table-column>
            <el-table-column
                    prop="brandName"
                    label="Brand Name">
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="Company Name">
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    label="Ordered">
            </el-table-column>
            <el-table-column
                    prop="description"
                    label="Description">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="Status">
            </el-table-column>
            <el-table-column
                    prop="gest"
                    label="Gest">
                <template slot-scope="scope">
                    <el-checkbox v-model="scope.row.gest" :checked="scope.row.gest=='true'? true:false"></el-checkbox>
                </template>
            </el-table-column>
            <el-table-column
                    prop="miss"
                    label="Miss">
                <template slot-scope="scope">
                    <el-checkbox v-model="scope.row.miss" :checked="scope.row.miss=='true'? true:false"></el-checkbox>
                </template>
            </el-table-column>
            <el-table-column
                    prop="wrong"
                    label="Wrong">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.wrong"></el-input>
                </template>
            </el-table-column>
        </el-table>
    </template>
</div>
<script>
    let Main = {
        data() {
            return {
                loading: false,
                selectedRow:{},
                dialogTitle:'',
                actionType:'',
                dialogFormVisible:false,
                tableData: []
            }
        },
        methods: {
            queryChecks(){ // Query the data
                this.loading = true;
                this.actionType = 'query';
                // fetch checklist data remotely
                axios.get("CheckServlet", {
                        params: {
                            actionType:this.actionType
                        }
                    }
                ).then(re => {
                    // Render to the form
                    this.tableData = re.data.tableData;
                    this.loading = false;
                })
            },
            save() {
                this.actionType = 'save';
                this.loading = true;
                let formData = new FormData();
                // convert the data to json format for submission
                formData.append('tableData', JSON.stringify(this.tableData));
                // Execute the save request
                axios({
                    method: "post",
                    url: "CheckServlet",
                    data: formData
                }).then((res) => {
                    this.loading = false;
                    this.$message({
                        type: 'success',
                        message: 'Saved!'
                    });
                }).catch(re => {
                    this.loading = false;
                    this.$message({
                        type: 'error',
                        message: 'Failed'
                    });
                });
            }
        },
        mounted () {
            this.queryChecks();
        }
    };
    let Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</body>
</html>