<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="css/mystyle.css">

</head>

<head>
    <meta charset="utf-8">
    <title>OrderPaymentPage</title>
    <link rel="stylesheet" href="./css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" type="text/javascript" charset="utf-8"></script>
    <!-- 引入ElementUI样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入ElementUI组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>


</head>
<body>
<div id="main">
    <div class="container">
        <div id="orderPayment">
            <h1 style="margin-left: 200px;">OrderPaymentPage</h1>
            <div v-for="(item, index) in newProductList" :key="index" style="display: flex;">
                <div class="goods-image1" style="margin-left: 150px;">
                    <img v-bind:src="item.pro_img">
                </div>

                <div style="margin-left: 15px;">
                    <p>{{item.pro_name}}</p>
                    <p>{{item.pro_price}} * {{item.pro_num}}</p>
                </div>
            </div>

            <div style="margin-left: 150px;margin-bottom: 14px;">TotalPrice： {{getTotal}}</div>

            <el-button style="margin-left: 150px;margin-bottom: 14px;" @click="sureClick" type="primary">Pay</el-button>

            <el-dialog
                    title="Pay"
                    :close-on-click-modal="false"
                    :modal="false"
                    :append-to-body="true"
                    :visible.sync="paymentVisable"
                    width="40%">
                <p slot="title" class="dialog-full-header">
                    <i class="el-icon-warning"></i><span class="dialog-full-title">PaymentTips</span>
                </p>
                <el-form ref="form" :model="form" label-width="100px" :rules="rules">
                    <el-form-item label="address" prop="address">
                        <el-input  v-model="form.address"></el-input>(Sydney only)
                    </el-form-item>
                    <el-form-item label="phone" prop="phone">
                        <el-input v-model="form.phone"></el-input>(Enter 9 digits)
                    </el-form-item>
                    <el-form-item label="idcard" prop="idcard" >
                        <el-input v-model="form.idcard"></el-input>(Enter 9 digits)
                    </el-form-item>
                    <el-form-item label="password" prop="password">
                        <el-input v-model="form.password"></el-input>(Enter 6 digits)
                    </el-form-item>
                    <el-form-item label="remark">
                        <el-input v-model="form.remark"></el-input>
                    </el-form-item>
                    <el-form-item label="payType">
                        <el-radio-group v-model="form.radio">
                            <el-radio label="1">WeChat</el-radio>
                            <el-radio label="2">Alipay</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="paymentMoney()">ConfirmPayment</el-button>
                        <el-button @click="paymentVisable=false">Cancel</el-button>
                    </span>
            </el-dialog>
        </div>
    </div>
</div>

</body>

<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.18.1/axios.min.js"></script>
<script src="jQuery.js"></script>
<script type="text/javascript">
    new Vue({
        el:"#orderPayment",
        data(){
            return {
                rules: {
                },
                form: {
                    address: '4/67 Thomas Street Ultimo NSW 2007 Australia',
                    radio: "1",
                    phone: '',
                    idcard: '',
                    password: '',
                    remark: ''
                },
                radio: "1",
                paymentVisable: false,
                newProductList: [],
                productList:[]
            }

        },
        computed:{
            getTotal:function(){
                var price=0;
                for(var i=0;i<this.newProductList.length;i++){
                    price+=this.newProductList[i].pro_num*this.newProductList[i].pro_price
                }
                return price.toFixed(2)
            },
        },
        created() {
            var _this = this;
            axios({
                method:"get",
                url:"./userInfoServlet"
            }).then(function (resp) {
                console.log(resp.data)
                _this.getProductList(resp.data.userId)
            })
        },
        methods:{
            // phone number
            getProductList: function(userId){
                var _this = this;
                axios({
                    method:"get",
                    // url:"http://localhost:8080/asd/selectAllServlet"
                    // uid
                    url:"./cartServlet?uid=" + userId
                }).then(function (resp) {
                    console.log(resp.data)
                    console.log(_this.productList)
                    for (let i = 0; i < resp.data.length; i++) {
                        var tep={
                            'id': resp.data[i].id,
                            'pro_name': resp.data[i].brandName,
                            'pro_num': resp.data[1].status,
                            'pro_purity':resp.data[1].companyName,
                            'pro_service':resp.data[1].description,
                            // 'pro_img': 'img/1.jpg',
                            'pro_price': resp.data[i].ordered,
                            'select': true ,
                        }
                        _this.productList.push(tep)

                    }

                    _this.newProductList = []
                    var url = window.location.href
                    var searParam = decodeURI(url.split("=")[1])
                    var arr1 = searParam.split(":")
                    for(let i=0;i<arr1.length;i++) {
                        let arr2 = arr1[i].split(",")
                        let arr3 = _this.productList.filter(function(val){
                            return val.id + "" ===arr2[0] + "";
                        })
                        if(arr3.length > 0) {
                            arr3[0].pro_num = arr2[1]
                            _this.newProductList.push(arr3[0])
                        }
                    }

                    console.log(_this.productList)
                })
            },
            isEmptyString: function(parA) {
                //Back true;  || parA == "null"
                if (parA == null || typeof (parA) == "undefined" || parA === "") {
                    return true
                } else {
                    if (typeof(parA) === 'string' ? true : false) {
                        if (parA.trim() == "") {
                            return true
                        }
                    }
                    return false
                }
            },
            sureClick: function(){
                this.paymentVisable = true
            },
            paymentMoney: function(){
                if(this.isEmptyString(this.form.address)) {
                    this.$message({
                        type: 'error',
                        message: 'Address cannot be empty'
                    })
                    return;
                }
                if(this.isEmptyString(this.form.password)) {
                    this.$message({
                        type: 'error',
                        message: 'Password cannot be empty'
                    })
                    return;
                }
                if(this.form.password.trim().length != 6) {
                    this.$message({
                        type: 'error',
                        message: 'Please enter 6-digit password'
                    })
                    return;
                }
                if(this.isEmptyString(this.form.idcard)) {
                    this.$message({
                        type: 'error',
                        message: 'ID cannot be empty'
                    })
                    return;
                }
                if(this.form.idcard.trim().length != 9) {
                    this.$message({
                        type: 'error',
                        message: 'Please enter nine-digit ID'
                    })
                    return;
                }
                if(this.isEmptyString(this.form.phone)) {
                    this.$message({
                        type: 'error',
                        message: 'Phone number cannot be empty'
                    })
                    return;
                }
                if(this.form.phone.trim().length != 9) {
                    this.$message({
                        type: 'error',
                        message: 'Please enter nine-digit phone number'
                    })
                    return;
                }

                this.paymentVisable = false
                var totalMoney = this.getTotal
                $.post("saveOrder?action=save",{orderDetail:JSON.stringify(this.newProductList),totalMoney: this.getTotal,address:this.form.address
                        ,phone: this.form.phone,idcard: this.form.idcard,password: this.form.password,radio: this.form.radio,remark: this.form.remark},
                    function(delFlag){
                        var flag = eval('('+delFlag+')');
                        if(flag){
                            alert("PaymentSuccess," + "totalMoney is " + totalMoney + "。");
                        }else{
                            alert("PaymentFailure!");
                        }
                    }
                );

            },
        }

    })
</script>
</html>